.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    margin: 90px 24px;
    padding: 0 26px;
}

.menu {
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.menu_link {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.link__active {
    text-decoration: none;
}

.header__links-list {
    display: flex;
    list-style: circle;
    gap: 32px;
}

.header__links-list-item:first-child,
.footer__links-list-item,
.footer__social-list-item {
    list-style: none;
}


.header__logo-image {
    width: 148px;
    height: 105px;
}

.header__address {
    padding: 7px 0;
    justify-self: end;
}

.address {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
}

.address_link {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.cover {
    background-size: cover;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    flex-direction: column;
    text-align: center;
    min-height: 757px;
}

.cover__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    color: #ffffff;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 30px;
    padding: 165px 20px 100px 50px;
    text-transform: uppercase;
}

.accent_span {
    display: block;
}

.align__text__left {
    text-align: left;
}

.align__text__center {
    text-align: center;
}

.align__text__right {
    text-align: right;
}

.cover__description {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cover__description-text {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
}

.cover__button {
    font-family: Raleway, Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.01);
    color: #fff;
    font-size: 22px;
    border: 1px solid  #fff;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 32px;
    cursor: pointer;
}

.lots {
    padding: 181px 25px 0px 25px;
}

.lots__heading {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-left: 40px;
    padding-bottom: 27px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}

.lots__card-list-item {
    list-style: none;
}

.card-link {
    text-decoration: none;
}

.card__title {
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    padding: 50px 40px 0px 40px;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-underline-offset: 3px;
}

.card__text {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding: 0 40px 50px 40px;
}



.card {
    width: 334px;
    min-height: 596px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    background: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
    display: block;
    width: fit-content;
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: 5px;
    margin: 30px 40px;
    list-style: none;
}

.about {
    display: flex;
    justify-content: space-between;
    margin: 150px 50px 0 50px;
    padding-left: 21px;
}

.about__logo {
    background-color: #000;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    display: flex;
}

.logo-white {
    width: 148px;
    height: 114px;
    margin: auto;
}

.about__content {
    max-width: 693px;
    width:100%;
    margin-top: 105px;
    padding-left: 25px;
}


.about__title {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.about__text {
    display: inline-flex;
    padding-bottom: 0;
    flex-direction: column;
    gap: 25px;
    margin-top: 100px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer {
    margin: 178px 50px 90px 50px;
    display: flex;
    justify-content: space-between;
    
}

.footer .menu {
    text-align: center;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}

.footer__social-list {
    display: flex;
    gap: 49px;
}

.footer__social-link {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}